/* ===== Initializr Styles =====================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body{ font:16px/26px Helvetica, Helvetica Neue, Arial; }

.wrapper{
        width:90%;
        margin:0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

#header-container,
#footer-container{
        background:#000000;
}

#main aside{
        background:#777777;
}

#title{ color:white; }

::-moz-selection { background: #f16529; color: #fff; text-shadow: none; }
::selection      { background: #f16529; color: #fff; text-shadow: none; }

/* ==============
    MOBILE: Menu
   ============== */

nav a{
        display:block;
        margin-bottom:10px;
        padding:15px 0;

        background:#111111;
        color:white;

        text-align:center;
        text-decoration:none;
        font-weight:bold;
}

nav a:hover, nav a:visited{
        color:white;
}

nav a:hover{
        text-decoration:underline;
}

/* ==============
    MOBILE: Main
   ============== */

#main{
        padding:30px 0;
}

#main article h1{
        font-size:2em;
}

#main aside{
        color:white;
        padding:0px 5% 10px;
}

#footer-container footer{
        color:white;
        padding:20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 #title{ padding-top:20px; }
