---
layout: base
---

<hr>

<div class="row">
  <div class="span4">
    <h2>Articles</h2>
    {% for item in site.categories.articles limit:3 %}
      <p><a href="{{ item.url }}">{{ item.title }}</a></p>
    {% endfor %}
    <p><a class="btn" href="articles">More articles &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>Notes</h2>
    {% for item in site.categories.notes limit:3 %}
      <p>{{ item }}</p>
    {% endfor %}
    <p><a class="btn" href="notes">More notes &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>Methods</h2>
    {% for item in site.categories.methods limit:3 %}
      <p>{{ item }}</p>
    {% endfor %}
    <p><a class="btn" href="methods">More methods &raquo;</a></p>
  </div>
</div>

<hr>
